.product {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 1352px;
    margin: 0 auto;
  }
  
  .mainTitle {
    color: #0e716a;
    font: 600 40px/1.2 Inter, sans-serif;
    margin: 0;
  }
  
  .titleUnderline {
    background-color: #d9d9d9;
    width: 94px;
    height: 4px;
    margin-top: 9px;
  }
  
  .subTitle {
    color: #2b2b2b;
    font: 600 30px/2 Inter, sans-serif;
    margin: 38px 0 0;
  }
  
  .description {
    color: #808080;
    font: 400 16px/26px Inter, -apple-system, Roboto, Helvetica, sans-serif;
    margin: 31px 0 0;
  }
  
  .policiesContainer {
    display: grid;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 32px;
  }
  
  .policyItem {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .policyIcon {
    width: 14px;
    height: 14px;
    object-fit: contain;
  }
  
  .policyText {
    color: #808080;
    font: 400 16px/39px Inter, -apple-system, Roboto, Helvetica, sans-serif;
  }
  
  .additionalInfo {
    color: #0e716a;
    font: 400 16px/26px Inter, -apple-system, Roboto, Helvetica, sans-serif;
    margin-top: 40px;
  }
  
  .policyLink {
    font-weight: 600;
    text-decoration: underline;
    color: #0e716a;
  }
  
  @media (max-width: 991px) {
    .content {
      padding: 40px 20px;
    }
  }
  