.productSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 46px 80px;
    max-width: 1400px;
    margin: 0 auto;
}

.productTitle {
    color: #0e716a;
    font: 600 40px/1.2 Inter, sans-serif;
    align-self: flex-start;
}

.underline {
    background-color: #d9d9d9;
    width: 94px;
    height: 4px;
    margin-top: 9px;
    align-self: flex-start;
}


@media (max-width: 991px) {
    .productSection {
        padding: 40px 20px;
    }
}